<div class="container">

  <h1>Angular Webcam Capture Image from Camera - Tutsmake.com</h1>

  <div class="row">
      <div class="col-md-6">

          <webcam
              [trigger]="camService.triggerObservable"
              (imageCapture)="camService.handleImage($event)"></webcam>
              <!-- (imageCapture)="handleImage($event)"></webcam> -->

          <button class="btn btn-success" (click)="camService.triggerSnapshot();">Take A Snapshot</button>
      </div>
      <div class="col-md-6">

          <div id="results">Your captured image will appear here...</div>
          <img src="{{ camService.captureImage }}" height="300px" alt="#">

      </div>
  </div>
</div>
